.mat-mdc-fab:not(.mdc-fab--extended), .mat-mdc-mini-fab:not(.mdc-fab--extended) {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  z-index: 1;
}

.foto-perfil{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.filter-button{
  position: absolute;
  margin: 10px;
  top: 0;
  z-index: 1;
}
