<div class="general">
  <mat-accordion class="headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Se muestra restaurantes en un radio de {{search}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <label id="radio-group-label"> Buscar en: </label>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="group-distance-metrics"
        [(ngModel)]="metric">
        <mat-radio-button class="radio-button" (click)="setMetrics('meters')" value="m">
          <span class="information-routes">
            Metros (m)
          </span>
        </mat-radio-button>
        <mat-radio-button class="radio-button" (click)="setMetrics('kilometers')" value="km">
          <span class="information-routes">
            Kilómetros (km)
          </span>
        </mat-radio-button>
      </mat-radio-group>

      <mat-card class="result-card">
        <mat-card-content>
          <div class="label-container">
            <label id="name-label" class="name-label"> Buscar restaurantes en un radio de </label>
            <label class="value-label">{{slider.value}} {{metric}}</label>
          </div>
          <mat-slider
            class="margin"
            [max]="max"
            [min]="min"
            [step]="step"
            discrete="false">
            <input matSliderThumb [(ngModel)]="value" #slider>
          </mat-slider>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="searchRestaurants()">
            <mat-icon>search</mat-icon>
            Buscar
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="{{tab}}" *ngFor="let tab of tabs">
      <ng-template matTabContent>
        <app-restaurante-panel [activeTabIndex]="selectedTabIndex" [tabs]="tabs.length"></app-restaurante-panel>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
