.h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.margin {
  margin: 8px;
}

.width {
  max-width: 180px;
  width: 100%;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.mat-mdc-card + .mat-mdc-card {
  margin-top: 8px;
}

.result-card h2 {
  margin: 0 8px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.group-distance-metrics{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.result-card .value-label {
  font-weight: 600;
}

.mat-mdc-tab-group{
  height: 100%;
}

.general {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-tab-group {
  flex-grow: 1;
  overflow: auto;
}

mat-accordion {
  flex-grow: 1;
  overflow: visible;
}
