form {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 21px;
  margin: 0;
  flex: 1;
}

.cuisine-block {
  font-size: 22px;
}

.submit {
  margin-top: 30px;
  background-color: steelblue;
}

@media (max-width: 768px) {
  .cuisine {
    display: flex;
    flex-wrap: wrap;
  }

  .cuisine button {
    flex-basis: 45%;
    margin: 5px;
  }
}
