form {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
  background: #070b38e3;
  color: #d9d9d9f2;
}

h1 {
  font-size: 17px;
  margin: 0;
  flex: 1;
}

.type-block {
  border: 1px #070045 solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.type-block > h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 5px;
}

.submit {
  margin-top: 30px;
  background-color: #001f38;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: white;
}

@media (max-width: 768px) {
  /*.cuisine {
    display: flex;
    flex-wrap: wrap;
  }

  .cuisine button {
    flex-basis: 45%;
    margin: 5px;
  }*/
}
