<div class="header">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Preferencias de restaurantes</h1>
</div>

<form [formGroup]="filterForm" (ngSubmit)="buscar()">
  <mat-form-field>
    <mat-label>Clasificación</mat-label>
    <mat-select formControlName="rating" id="rating">
      <mat-option *ngFor="let rate of rating" value="{{rate}}">{{rate}} Estrella</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nivel de precio</mat-label>
    <mat-select formControlName="price_level" id="price_level">
      <mat-option *ngFor="let price of price_level" value="{{price}}">{{price}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="cuisine-block" *ngIf="cocinasPrimarias">
    <h3>Tipo de cocina</h3>
    <mat-chip-listbox multiple="true" id="cuisine" *ngFor="let cocina of cocinasPrimarias">
      <mat-chip-option (click)="toggleCuisine(cocina)">{{cocina}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <button type="submit" class="submit" id="buscar" mat-stroked-button>Buscar</button>
</form>
