<mat-card>
  <img mat-card-image
       *ngIf="restaurante && restaurante.photos && restaurante.photos.length > 0 && restaurante.photos[0]?.name"
       src="https://places.googleapis.com/v1/{{restaurante.photos[0].name}}/media?maxHeightPx=400&maxWidthPx=400&key={{environment.GOOGLE_API}}">
  <mat-tab-group>
    <mat-tab label="Descripción">
      <mat-card-header>
        <mat-card-title *ngIf="restaurante?.displayName">{{restaurante?.displayName}}</mat-card-title>
        <mat-card-subtitle>
          <div class="rating-comments" *ngIf="restaurante?.rating">
            <ng-container *ngFor="let icon of getStarIcons(restaurante?.rating||0)">
              <mat-icon class="star-icon">{{ icon }}</mat-icon>
            </ng-container>
            <div *ngIf="restaurante?.userRatingCount">{{restaurante?.rating}} - ({{restaurante?.userRatingCount}})</div>
          </div>
          <div class="information">
            <mat-card-content *ngIf="restaurante?.priceLevel"><strong>Precio: </strong>
              {{ getPriceLevelDescription(restaurante?.priceLevel) }} </mat-card-content>
            <mat-card-content *ngIf="restaurante?.shortFormattedAddress">
              <strong>Dirección:</strong> {{restaurante?.shortFormattedAddress}} </mat-card-content>
            <mat-card-content *ngIf="restaurante?.websiteUri" class="website">
              <mat-icon>language</mat-icon>
              <a href="{{ restaurante?.websiteUri }}" target="_blank">Visitar Website</a>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button *ngIf="restaurante?.id" (click)="mostrarRuta(restaurante?.id)">
                <mat-icon class="walk"> directions_run</mat-icon>
                Mostrar ruta
              </button>
            </mat-card-actions>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-tab>
    <mat-tab label="Servicios">
      <ng-container *ngIf="informacion">
        <mat-list role="list">
          <div mat-subheader>Formas de pago</div>
          <mat-list-item *ngIf="informacion.paymentOptions.acceptsDebitCards" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Tarjeta de Débito</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.paymentOptions.acceptsCreditCards" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Tarjeta de Crédito</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.paymentOptions.acceptsCashOnly" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Efectivo</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.paymentOptions.acceptsNfc" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>NFC</div>
          </mat-list-item>
        </mat-list>

        <div mat-subheader>Servicios</div>
        <mat-list role="list">
          <mat-list-item *ngIf="informacion.services.takeout" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Para Llevar</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.services.delivery" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Entrega a Domicilio</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.services.dineIn" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Comer en el Lugar</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.services.curbsidePickup" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Recoger en la Acera</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.services.reservable" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Reservable</div>
          </mat-list-item>
        </mat-list>

        <div mat-subheader>Ambiente</div>
        <mat-list role="list">
          <mat-list-item *ngIf="informacion.atmosphere.outdoorSeating" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Asientos al Aire Libre</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.atmosphere.liveMusic" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Música en Vivo</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.atmosphere.goodForGroups" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Apto para Grupos</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.atmosphere.goodForWatchingSports" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Bueno para Ver Deportes</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.atmosphere.goodForChildren" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Apto para Niños</div>
          </mat-list-item>
        </mat-list>

        <div mat-subheader>Accesibilidad</div>
        <mat-list role="list">
          <mat-list-item *ngIf="informacion.accessibilityOptions.wheelchairAccessibleParking" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Estacionamiento Accesible para Silla de Ruedas</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.accessibilityOptions.wheelchairAccessibleEntrance" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Entrada Accesible para Silla de Ruedas</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.accessibilityOptions.wheelchairAccessibleRestroom" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Baño Accesible para Silla de Ruedas</div>
          </mat-list-item>
          <mat-list-item *ngIf="informacion.accessibilityOptions.wheelchairAccessibleSeating" role="listitem">
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemTitle>Asientos Accesibles para Silla de Ruedas</div>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-tab>

    <mat-tab label="Horario" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef> Día</th>
          <td mat-cell *matCellDef="let element">{{ element.day }}</td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef> Horario</th>
          <td mat-cell *matCellDef="let element">{{ element.hours }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</mat-card>

