<mat-card class="card" [class.clicked]="isSelected"
          (click)="onCardClick()"
          (mouseover)="highlightCard(true)"
          (mouseout)="highlightCard(false)">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title *ngIf="restaurante?.displayName">{{restaurante?.displayName}}</mat-card-title>
      <mat-card-subtitle>
        <div class="rating-comments">
          <ng-container *ngFor="let icon of restaurante?.rating||0 | translate: 'starIcons'">
            <mat-icon class="star-icon">{{ icon }}</mat-icon>
          </ng-container>
          <div *ngIf="restaurante?.userRatingCount">{{restaurante?.rating}} - ({{restaurante?.userRatingCount}})</div>
        </div>
        <div class="information">
          <mat-card-content *ngIf="restaurante?.primaryCuisine">
            <strong>Especialidad:</strong> {{restaurante?.primaryCuisine | translate: 'especialidad'}} </mat-card-content>
          <mat-card-content *ngIf="restaurante?.priceLevel"><strong>Precio: </strong>
            {{ restaurante?.priceLevel | translate: 'nivel_precio' }} </mat-card-content>
          <mat-card-content *ngIf="restaurante?.shortFormattedAddress">
            <strong>Dirección:</strong> {{restaurante?.shortFormattedAddress}} </mat-card-content>
          <mat-card-content *ngIf="restaurante?.phone">
            <strong>Teléfono:</strong> {{restaurante?.phone}} </mat-card-content>
        </div>
      </mat-card-subtitle>
      <img mat-card-md-image
           *ngIf="restaurante && restaurante.photos && restaurante.photos.length > 0 && restaurante.photos[0]?.name"
           src="https://places.googleapis.com/v1/{{restaurante.photos[0].name}}/media?maxHeightPx=400&maxWidthPx=400&key={{environment.GOOGLE_API}}">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions align="end" (click)="$event.stopPropagation()">
    <label id="radio-group-label"> Conocer ruta a:</label>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group">
      <mat-radio-button class="radio-button" (change)="mostrarRuta(restaurante?.id, 'WALK')" value="WALK">
        <span class="information-routes">
          <mat-icon class="walk"> directions_run</mat-icon>
          Pie
        </span>
      </mat-radio-button>
      <mat-radio-button class="radio-button" (change)="mostrarRuta(restaurante?.id, 'DRIVE')" value="DRIVE">
        <span class="information-routes">
          <mat-icon class="walk">drive_eta</mat-icon>
          Vehículo
        </span>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-actions>
</mat-card>
