<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title *ngIf="restaurante?.displayName">{{restaurante?.displayName}}</mat-card-title>
      <mat-card-subtitle>
        <div class="rating-comments">
          <ng-container *ngFor="let icon of getStarIcons(restaurante?.rating||0)">
            <mat-icon class="star-icon">{{ icon }}</mat-icon>
          </ng-container>
          <div class="number-comments" *ngIf="restaurante?.userRatingCount">({{restaurante?.userRatingCount}})</div>
        </div>
        <div class="information">
          <mat-card-content *ngIf="restaurante?.priceLevel"><strong>Precio: </strong>
            {{ getPriceLevelDescription(restaurante?.priceLevel) }} </mat-card-content>
          <mat-card-content *ngIf="restaurante?.shortFormattedAddress">
            <strong>Dirección:</strong> {{restaurante?.shortFormattedAddress}} </mat-card-content>
          <mat-card-content *ngIf="restaurante?.websiteUri" class="website">
            <mat-icon>language</mat-icon>
            <a href="{{ restaurante?.websiteUri }}" target="_blank">Visitar Website</a>
          </mat-card-content>

        </div>
      </mat-card-subtitle>
      <img mat-card-md-image
           *ngIf="restaurante && restaurante.photos && restaurante.photos.length > 0 && restaurante.photos[0]?.name"
           src="https://places.googleapis.com/v1/{{restaurante.photos[0].name}}/media?maxHeightPx=400&maxWidthPx=400&key={{environment.GOOGLE_API}}">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>
      <mat-icon class="walk"> directions_run</mat-icon>
      RUTA
    </button>
  </mat-card-actions>
</mat-card>
