$title-size: 15px;

.information > mat-card-content {
  padding: 0;
}

.mat-mdc-card-title {
  font-size: $title-size;
}

.mat-mdc-card-subtitle {
  font-weight: normal;
}

.star-icon {
  color: #d3b023;
  font-size: 21px;
}

.rating-comments {
  display: flex;
  align-items: center;
}

.card {
  border-bottom: 1px solid #68686d
}

button {
  border: 1px solid #68686d
}

.walk {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
}

.website {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.website > mat-icon {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.website > a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

.card:hover {
  background-color: #EAECF1;
  cursor: pointer;
}

.card.clicked {
  background-color: #C6CCE2;
}

.radio-group {
  display: flex;
}

.radio-button {
  margin: 5px;
}

.mat-mdc-radio-button .mdc-radio {
  padding: 0;
;
}
.mdc-form-field>label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-radio__background {
  width: 14px;
  height: 14px;
}

.information-routes{
  display: flex;
  justify-content: center;
  align-items: center;
}
