<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <div class="number-comments">(34)</div>
        <div class="information">
          <mat-card-content> <strong>Nivel de precio: </strong> Moderado</mat-card-content>
          <mat-card-content><strong>Dirección:</strong> Balcón del valle </mat-card-content>
          <mat-card-content><strong>Teléfono:</strong> 2606367</mat-card-content>
          
        </div>
      </mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>
      <mat-icon>star</mat-icon> RUTA</button>
    <button mat-button><mat-icon>star</mat-icon> INFORMACIÓN</button>
  </mat-card-actions>
</mat-card>