.scrollable-content {
  height: 100%;
  overflow-y: scroll;
}

.filter-button {
  display: inline-table;
  box-shadow: none;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.type-food {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 0 12px;
  margin: 0;
  background: #9c9c9c80;
  color: black;
}

.type-food > h1{
  display: contents;
  font-size: 18px;
  font-weight: 500;
}

.spinner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 0;
  font-size: 18px;
  margin: 20px
}
