<div class="container">
  <div class="scrollable-content">
    <ng-container *ngFor="let cuisineGroup of uniqueCuisines">
      <h1>{{ obtenerEspecialidadEnEspanol(cuisineGroup.cuisine) }}</h1>
      <div *ngFor="let restaurante of cuisineGroup.restaurants">
        <app-restaurante-card [restaurante]="restaurante"
                              [ubication]="pos"
                              [isSelected]="selectedRestaurant === restaurante"
                              (restauranteClicked)="onRestauranteClicked(restaurante)">
        </app-restaurante-card>
      </div>
    </ng-container>
  </div>
</div>
